body {
  text-align: center;
  font-family: Helvetica;
}

#titleheader {
     background-image: url("../images/the-flatiron-building.png");
     color: white;
   }

a { color: inherit; }

h1 {
  font-size: 70px;
  font-weight: bold;
  padding-top: 10px;
}

.link {
  font-size: 18px;
  color: white;
}

#process {
  font-size: 32px;
  font-weight: bold;
}

#subitem {
  font-size: 14px;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

h2 {
  background-image: url("../images/the-flatiron-building.png");
  font-size: 23px;
  color: white;
  font-weight: 23px;
}

#footer {
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
  color: white;
}
